<!DOCTYPE html>
<html lang="en">
	<head>
		<title>FactorishWasm</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="main.css"></link rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	</head>
	<body>
		<canvas id="canvas" width="800" height="800"></canvas>
		<div id="popupContainer" width="100%" height="100%"></div>
		<div id="loadingContainer" width="100%" height="100%">
			Loading...
		</div>
		<div class="center">
		<div class="header">
			<div id="headerContainer">
				<h1>FactorishWasm</h1>
				<p style="font-size: 80%; font-style: italic">- Factorio-style base building game with WebAssembly -</p>
				<button id="paramsButton">New Game Settings</button>
				<button id="viewButton">View Options</button>
				<div style="position: relative;">
					<div id="paramsContainer" class="params" style="display: none;">
						<div style="font-size: 120%; font-weight: 700;">New game settings</div>
						<div>
							<label for="sizeSelect">Size:</label>
							<select id="sizeSelect">
								<option>16</option>
								<option>24</option>
								<option>32</option>
								<option>48</option>
								<option>64</option>
								<option>128</option>
								<option>256</option>
								<option selected>unlimited</option>
							</select>
						</div>
						<div>
							<label for="scenarioSelect">Scenario:</label>
							<select id="scenarioSelect">
								<option value="default" selected>Default</option>
								<option value="pipe_bench">Pipe benchmark</option>
								<option value="inserter_bench">Inserter benchmark</option>
								<option value="transport_bench">Transport belt benchmark</option>
								<option value="electric_bench">Electric network benchmark</option>
							</select>
						</div>
						<div>
							Terrain Seed=<span id="seedLabel"></span>
							<input id="seed" type="number">
						</div>
						<div>
							Water Noise Threshold=<span id="waterNoiseThresholdLabel"></span>
							<input id="waterNoiseThreshold" type="range" max="0.5" min="0" step="1e-3" value="0.28">
						</div>
						<div>
							Resource Amount=<span id="resourceAmountLabel"></span>
							<input id="resourceAmount" type="range" max="10000" min="100" step="100" value="1000">
						</div>
						<div>
							Resource Noise Scale=<span id="noiseScaleLabel"></span>
							<input id="noiseScale" type="range" max="20" min="2" step="1" value="5">
						</div>
						<div>
							Resource Noise threshold=<span id="noiseThresholdLabel"></span>
							<input id="noiseThreshold" type="range" max="0.5" min="0" step="1e-3" value="0.30">
						</div>
						<div>
							Noise Octaves=<span id="noiseOctavesLabel"></span>
							<input id="noiseOctaves" type="range" max="10" min="1" step="1" value="3">
						</div>
						<div style="text-align: center;">
							<button type="button" id="generateBoard">Start a new game!</button>
						</div>
					</div>
					<div id="viewContainer" class="params" style="display: none;">
						<div style="font-size: 120%; font-weight: 700">View settings</div>
						<div><label><input type="checkbox" id="altModeBox">Alt mode (alt key)</label></div>
						<div><label><input type="checkbox" id="showDebugBBox">Show Debug Bounding Box</label></div>
						<div><label><input type="checkbox" id="showDebugFluidBox">Show Debug Fluid Box</label></div>
						<div><label><input type="checkbox" id="showDebugPowerNetwork">Show Debug Power Network</label></div>
						<div><label><input type="checkbox" id="showPerfGraph">Show performance graph</label></div>
						<div><label><input type="checkbox" id="useWebGLInstancing" checked>Use WebGL instancing</label></div>
					</div>
				</div>
				<hr>
				<button id="copyButton">Copy save data to clipboard</button>
				<button id="saveButton">Download save data</button>
				<input style="display: none" type="file" id="loadFile">
				<button id="loadButton">Load saved game</button>
				<input id="saveText" type="text" value="" style="display: none">
				<hr>
				<div>Source on <a href="https://github.com/msakuta/FactorishWasm">GitHub</a>.</div>
			</div>
			<div class="headerButton open" id="headerButton">^</div>
		</div>
		<div>
			<div id="container2">
				<div id="inventory2" class="noselect" style="display: none;">
					<div id="inventory2Title">Inventory</div>
					<div class="closeButton" id="inventory2CloseButton"></div>
					<div id="inventoryButtons" class="inventoryButtons">
						<img id="inventory2List" draggable="false" src="../img/list.png" style="position: absolute">
						<img id="inventory2Icons" draggable="false" src="../img/icons.png" style="position: absolute; left: 0px; top: 32px">
						<img id="recipeSelectButton" draggable="false" src="../img/recipe-select.png" alt="Recipe select" style="position: absolute; left: 0px; top: 80px; border: 1px solid #7f7f7f">
					</div>
					<div id="inventory2Client">
						<div id="vueApp">
							<div v-if="hasPosition">
								<div v-if="hasBurner">
									<div class="itemBack" @click="onClickFuel(0)" :style="{backgroundColor: `#ffffff`, backgroundImage: `url(${fuelBack})`}">
										<img v-if="0 < burnerItems.length" class="burnerItem" :src="burnerItems[0].url">
										<div v-if="0 < burnerItems.length" class="overlay noselect"> {{ burnerItems[0].count }} </div>
									</div>
									<div class="burnerEnergyBack">
										<div id="burnerEnergy" class="burnerEnergy" :style="{width: `${burnerEnergy * 100}%`}"></div>
									</div>
								</div>
								<div style="vertical-align: middle;">
									<span v-if="hasInput">
										<div v-for="i in Math.max(1, inputItems.length)"
											class="itemBack"
											@click="onClickInput(i-1)"
											:style="{backgroundColor: `#ffffff`, backgroundImage: `url(${itemBack})`}"
										>
											<div v-if="i-1 < inputItems.length"
												:class="['burnerItem', inputItems[i-1].count === 0 ? 'transparent' : '']"
												:style="{backgroundImage: `url(${inputItems[i-1].url})`, backgroundSize: 32 * inputItems[i-1].widthFactor + 'px ' + 32 * inputItems[i-1].heightFactor + 'px'}">
												<div v-if="i-1 < inputItems.length && 0 < inputItems[i-1].count" class="overlay noselect"> {{ inputItems[i-1].count }} </div>
											</div>
										</div>
									</span>
									<span v-if="hasInput || hasOutput" style="position: relative; width: 100px;">
										<div class="progressBarBack">
											<div class="progressBar" :style="{width: `${progress * 100}%`}"></div>
										</div>
									</span>
									<span v-if="hasOutput" style="position: relative">
										<div v-for="i in Math.max(1 + outputItems.length)"
											class="itemBack"
											@click="onClickOutput(i-1)"
											:style="{backgroundColor: `#ffffff`, backgroundImage: `url(${itemBack})`}"
										>
											<div v-if="i-1 < outputItems.length" class="burnerItem"
												:style="{backgroundImage: `url(${outputItems[i-1].url})`, backgroundSize: 32 * outputItems[i-1].widthFactor + 'px ' + 32 * outputItems[i-1].heightFactor + 'px'}">
												<div v-if="i-1 < outputItems.length" class="overlay noselect"> {{ outputItems[i-1].count }} </div>
											</div>
										</div>
									</span>
								</div>
								<div v-if="hasStorage">
									<div class="inventoryTitle">Storage inventory</div>
									<div v-for="i in Math.ceil((1 + storageItems.length) / 10) * 10"
										class="itemBack"
										@click="onClickStorage(i-1)"
										:style="{backgroundColor: `#ffffff`, backgroundImage: `url(${itemBack})`}"
									>
										<div v-if="i-1 < storageItems.length" class="burnerItem"
											:style="{backgroundImage: `url(${storageItems[i-1].url})`, backgroundSize: 32 * storageItems[i-1].widthFactor + 'px ' + 32 * storageItems[i-1].heightFactor + 'px'}">
											<div v-if="i-1 < storageItems.length" class="overlay noselect"> {{ storageItems[i-1].count }} </div>
										</div>
									</div>
								</div>
							</div>
							<div class="player" :style="{left: hasPosition ? '330px' : '0px'}">
								<div class="inventoryTitle">Player inventory</div>
								<div class="playerInventoryContainer">
									<div v-for="i in Math.ceil((1 + playerItems.length) / 10) * 10"
										class="itemBack"
										@click="onClickPlayer(i-1)"
										:style="{backgroundColor: `#ffffff`, backgroundImage: `url(${itemBack})`}"
									>
										<div v-if="i-1 < playerItems.length" class="burnerItem"
											:style="{backgroundImage: `url(${playerItems[i-1].url})`, backgroundSize: 32 * playerItems[i-1].widthFactor + 'px ' + 32 * playerItems[i-1].heightFactor + 'px'}">
											<div v-if="i-1 < playerItems.length" class="overlay noselect"> {{ playerItems[i-1].count }} </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="recipeSelector" style="display: none;">
				<div id="recipeSelectorTitle">Select a recipe</div>
				<div id="recipeSelectorContent"></div>
				<div class="closeButton" id="recipeSelectorCloseButton"></div>
			</div>
		</div>
		<div id="mousecaptor" style="display: none; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background-color: rgba(0,0,0,0)"></div>
		<div id="mouseIcon" class="noselect" style="pointer-events: none; z-index: 2000; display: none; position: fixed; top: 0px; left: 0px; width: 32px; height: 32px"></div>
		<div class="footer">
			<div id="toolBar"></div>
		</div>
		</div>
	</body>
</html>
