body {
    color: #000000;
    font-family:Monospace;
    font-size:15px;

    background-color: #f0f0f0;
    margin: 0px;
    width: content;
    min-height: 100vh;
    overflow: hidden;
}

.center {
    text-align:center;
}

.header {
    position: absolute;
    left: 50%;
    width: 33em;
    margin-left: -16.5em;
    z-index: 100;
    background-color: rgba(191, 191, 191, 0.8);
    padding: 0.5em;
}

.headerButton {
    position: relative;
    left: 50%;
    margin-left: -2.5em;
    width: 5em;
    height: 0.8em;
    background-color: #3f3f3f;
    border: #070707 solid 1px;
    color: white;
}

.headerButton.open {
    margin-top: 0.5em;
}

.headerButton:hover {
    background-color: yellow;
    color: black;
    cursor: pointer;
}

.footer {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 392px;
    height: 48px;
    margin-left: -180px;
    z-index: 100;
    background-color: rgba(191, 191, 191, 0.75);
    padding: 0.5em;
}

.params {
    border: #7f007f solid 2px;
    position: relative;
    left: 50%;
    margin-left: -15em;
    margin-top: 0.5em;
    width: 30em;
    text-align: justify;
    padding: 0.5em;
}

#container, #container2{
    /* position: fixed; */
    width: 30em;
    bottom: 0;
    line-height: 80%;
}

#canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: justify;
}

.inventory, #inventory2{
    position: absolute;
    height: 300px;
    left: 50%;
    top: 50%;
    margin-left: -175px;
    margin-top: -80px;
    border: 3px outset #666666;
    background-color: #7D7D7D;
    text-align: left;
}

.inventoryNarrow {
    width: 390px;
}

.inventoryWide {
    width: 730px;
}

#inventoryTitle, #inventory2Title, .inventoryTitle{
    width: 100%;
    height: 20px;
    background-color: #7f7fff;
}

.inventoryTitle {
    background-color: #6f6fcf;
    width: 316px;
    margin-top: 2px;
    /* margin-left: 37px; */
    margin-right: 33px;
}

.inventoryButtons {
    position: relative;
    left: 0;
    top: 0;
    width: 40px;
    height: 100%;
}

#inventoryClient, #inventory2Client{
    position: absolute;
    top: 20px;
    left: 40px;
    width: 340px;
    height: 140px;
}

#inventoryContent, #inputInventoryContent, #outputInventoryContent{
    right: 40px;
    top: 20px;
    width: 314px;
    height: 50%;
    border: solid 1px black;
    margin: 2px 2px 2px 2px;
    background-color: #ffff7f;
}

.player {
    position: absolute;
    left: 370px;
    top: 0px;
    width: 330px;
    height: 160px;
}

.playerInventoryContainer {
    overflow-y: scroll;
    border-style: solid;
    border-width: 1px;
    border: 1px solid #00f;
    height: 240px;
    width: 340px;
    margin-top: 3px;
}

#recipeSelector{
    position: absolute;
    width: 300px;
    height: 400px;
    left: 50%;
    top: 50%;
    margin-left: -125px;
    margin-top: -150px;
    border: 2px solid #000000;
    background-color: #7D7D7D;
    text-align: left;
}

#recipeSelectorTitle{
    width: 100%;
    height: 20px;
    background-color: #7f7fff;
}

#recipeSelectorContent{
    height: 376px;
    padding: 2px;
    overflow-y: scroll;
}

#tooltip{
    position: absolute;
    border: 3px solid #0000ff;
    padding: 5px;
    background-color: #ffffaf;
    pointer-events: none;
    text-align: left;
    font-family: sans-serif;
    line-height: 120%;
    z-index: 200;
}

div.closeButton{
    position: absolute;
    width: 16px;
    height: 16px;
    right: 2px;
    top: 2px;
    border: 1px solid #7f7f7f;
}

.recipe-box{
    border: 1px solid #0000ff; margin: 4px; background-color: #afafff;
}

.overlay{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: auto;
    color: rgb(0,0,0);
    font-weight: bold;
    text-shadow: 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    text-align: right;
    pointer-events:none;
    z-index: 100;
}

.popupText {
    position: absolute;
    color: rgb(0,0,0);
    font-weight: bold;
    text-shadow: 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    width: 100%;
}

#popupContainer {
    position: absolute;
    pointer-events: none;
}

#loadingContainer {
    position: absolute;
    display: inline;
    pointer-events: none;
    font-size: 48px;
    color: #ffffff;
    text-align: center;
    top: 50%;
    left: 50%;
}

.burnerContainer {
    position: relative;
    left: 40px;
}

.itemBack {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
}

.transparent {
    opacity: 0.5;
}

.burnerItem {
    width: 32px;
    height: 32px;
}

.fuelBackground {
    left: 0px;
    width: 32px;
    height: 32px;
}

.burnerEnergyBack {
    /* position: absolute; */
    display: inline-block;
    top: 10px;
    left: 40px;
    width: 80px;
    height: 10px;
    background-color: #0f0f0f;
}

.burnerEnergy {
    position: relative;
    left: 0px;
    height: 10px;
    background-color: #ff0fff;
}

.progressBarBack {
    /* position: relative; */
    display: inline-block;
    top: 10px;
    left: 40px;
    width: 80px;
    height: 10px;
    background-color: #0f0f0f;
    margin: 3px;
}

.progressBar {
    position: relative;
    left: 0px;
    height: 10px;
    background-color: #0faf0f;
}


#points{
    font-size: 25px;
}

/* Class that prevents text selection by mouse dragging.
  The style is not defined by standard, so we'd write down browser-dependent styles for major browsers.
  Support by IE11 is somewhat incomplete since Ctrl+A selects the text in elements even with this style. */
.noselect{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}
